loc/pl/.DS_Store
.DS_Store
loc/.DS_Store
loc/cn/.DS_Store
loc/de/.DS_Store
loc/en/.DS_Store
loc/es/.DS_Store
loc/fr/.DS_Store
loc/hi/.DS_Store
loc/hu/.DS_Store
loc/it/.DS_Store
loc/jp/.DS_Store
loc/kr/.DS_Store
loc/pl/symbols/.DS_Store
loc/pt/.DS_Store
loc/ro/.DS_Store
loc/ru/.DS_Store
loc/th/.DS_Store
loc/tr/.DS_Store
